
.tools{
    position: absolute;
    width: 200px;
    right: 40px;
    bottom: 160px;
    
    &__list{
        display: none;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 20px;
        border-radius: 10px;
        gap: 5px;
        border: 1px solid red;
        padding: 10px;


        button{
            font-size: 12px;
        }

        &.active{
            display: grid;
        }
    }

    &__btn{
        color: red;
        border: 1px solid red;
        padding: 15px;
        border-radius: 10px;
        background-color: transparent;
        transform: translateX(100%);
    }
}

