#agentStatusModal {
    height: max-content;

    & > .modal-window__content {
        min-width: 43.75rem; /* 700px / 16px = 43.75rem */
        width: max-content;
    }
}

.agent-status {
    &__table-section {
        width: 100%;
        min-width: 43.75rem; 
        background-color: var(--modal-bg-color);
        border-radius: 0.75rem; 
        padding: 1rem; 
        color: var(--color-text-main);
    }

    &__table {
        width: 46.875rem; 

        thead {
            height: 2.5rem; 
            font-size: 0.75rem; 
            font-weight: 400;
            line-height: 1.125rem; 
            color: var(--table-head-text-color);
            border-bottom: 0.03125rem solid var(--table-head-text-color); 

            th {
                font-weight: 400;
                white-space: nowrap;
            }
        }

        tr {
            height: 2.5rem; 
            border-bottom: 0.03125rem solid var(--table-head-border-color); 

            td {
                font-size: 0.75rem; 
                font-weight: 600;
                line-height: 1.125rem;
                color: var(--color-text-main);
                white-space: nowrap;
            }
        }
    }

    &__call-actions {
        display: flex;
        align-items: center;
        gap: 1rem; 
        height: 2.5rem; 
    }
}
