.calls-in-queue{
    width: 53.125rem; 
    max-width: 80vw;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 34.375rem; 
    background-color: var(--color-main);
    position: fixed;
    box-shadow: $box-shadow;
    top: 30%;
    left: 30%;
    z-index: 11;
    display: none;
    border-radius: 10px;
    border: 0.4px solid var(--card-border-color);

    &.active{
        display: block;
    }
}