#callChannelsModal{
    height: max-content;
}

.call-actions{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 40px;

    &__sound{
        display: flex;
        align-items: center;
        gap: 12px;

        & > .call-channels-volume-minus-icon{
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: var(--call-channels-modal-volume-minus-icon);
            background-repeat: no-repeat;
            background-size: contain;
        }

        & > .call-channels-volume-plus-icon{
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: var(--call-channels-modal-volume-plus-icon);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    
    &__volume-container{
        width: 80px;
        height: 8px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    &__volume-bar{
        width: 100%;
        height: 2px;
        background-color: #B8B8B8;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    &__volume-level{
        position: absolute;
        width: 100%;
        height: 4px;
        z-index: 4;
        top: -1px;
        left: -40%;
        background: $gradient-reversed;
    }

    &__volume-mark{
        width: 3px;
        height: 6px;
        background: $gradient-reversed;
        position: absolute;
        top: -1px;
        right: 0;
    }

    &__mute-btn{
        width: 83px;
        height: 23px;
        border-radius: 4px;
        background-color: transparent;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 12px;
        border: 0.6px solid $color-red;
        color: $color-red;
        opacity: 1;
        transition: all .3s ease-in;

        &:disabled{
            background: #D5D5D5;
        }

        &:hover{
            opacity: 0.9;
            transform: scale(1.07);
        }

        &:active{
            transform: scale(0.99);
        }

        & > .call-channels-mute-icon{
            width: 16px;
            height: 16px;
            background: url('../img/icons/mute.png');
            background-repeat: no-repeat;
            background-size: contain;
        }

        opacity: 1;
        transition: all .3s ease-in;

        &:disabled{
            background: #D5D5D5;
        }

        &:hover{
            opacity: 0.9;
            transform: scale(1.07);
        }

        &:active{
            transform: scale(0.99);
        }
            
    &.unmute{
        border: 0.6px solid $color-blue;
        color: $color-blue;
        opacity: 1;
        transition: all .3s ease-in;

        & > .call-channels-volume-turn-on-icon{
            width: 16px;
            height: 16px;
            background: url('../img/icons/turn-on-sound.png');
            background-repeat: no-repeat;
            background-size: contain;
        }}
    }
}
