.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px; 
    border-top: 0.6px solid var(--dropdown-border-color) ;
    padding-left: 20px;
    background-color: var(--color-secondary);

    &__text{
        font-size: 12px;
        line-height: 18px;
        color: #707070;
    }

    &__buttons{
        height: 100%;
        width: 108px;
        display: flex;
    }

    &__button{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }   

    &__record{
        background-color: var(--record-btn-color);

        &--white{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: rgba(255, 244, 244, 1);
        }

        &--pink{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #FFC5C5;
        }

        &--red{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #FF2020;
        }
    }

    &__call{
        background: $gradient-main;

        svg{
            width: 16px;
            height: 16px;
            fill: $color-white;
        }
    }

    &__reset{
        font-size: 12px;
        background-color: $color-red;
        color: $color-white;

        &:hover{
            color: $color-red;
            background-color: $color-white;
        }
    }
}
