.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.25rem; 
    border-top: 0.6px solid var(--dropdown-border-color) ;
    padding-left: 1.25rem;
    background-color: var(--color-secondary);

    &__text{
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: #707070;
    }

    &__buttons{
        height: 100%;
        width: 72px;
        display: flex;
    }

    &__button{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }   

    &__record{
        background-color: var(--record-btn-color);

        &--white{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: rgba(255, 244, 244, 1);
        }

        &--pink{
            width: 0.625rem;
            height: 0.625rem;
            border-radius: 50%;
            background-color: #FFC5C5;
        }

        &--red{
            width: 0.375rem;
            height: 0.375rem;
            border-radius: 50%;
            background-color: #FF2020;
        }
    }

    &__call{
        background: $gradient-main;

        svg{
            width: 1rem;
            height: 1rem;
            fill: $color-white;
        }
    }
}
