.latency-modal {

    &__wrapper {
        padding: 1.125rem; 
    }

    &__image {
        width: 100%;
        height: 9.5625rem; 
        background-image: var(--latency-modal-img);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__title {
        font-size: 0.875rem; 
        font-weight: 400;
        line-height: 1.25rem; 
        color: var(--color-text-main);
        margin: 0.625rem 0;

        span {
            font-size: 0.875rem; 
            font-weight: 700;
        }
    }

    &__average {
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1.125rem; 
        margin-bottom: 0.5rem; 
        color: var(--table-head-text-color);
    }

    &__text {
        font-size: 0.75rem; 
        font-weight: 400;
        line-height: 1.125rem; 
        color: var(--table-head-text-color);
    }
}
