.message-modal {
    &__wrapper {
        height: calc(100% - 4.56rem);
        padding-left: 1.25rem;
    }

    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;

        .navigation-burger__button {
            top: 4.6875rem;
        }
    }
}

.modal-sidebar {
    width: 17.9375rem;
    height: 100%;
    border-right: 0.6px solid var(--dropdown-border-color);
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    overflow-y: auto;
    background-color: var(--modal-sidebar-bg);

    @media screen and (max-width: 800px) {
        position: absolute;
        padding-top: 3.75rem;
        transform: translateX(-18.75rem);

        &.active {
            transform: translateX(0);
            z-index: 50;
        }
    }

    &__button {
        width: 100%;
        height: 2.75rem;
        border: none;
        padding: 0 1rem;
        background: $gradient-reversed;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $color-white;
        overflow: hidden;
        position: relative;
        z-index: 10;
        transition: color 0.3s ease-in-out, transition 0.3s ease-in;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-blue-secondary;
            z-index: -1;
            transform: translateX(-110%);
            transition: transform 0.3s ease-in-out;
        }

        &:hover::before {
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            -webkit-text-fill-color: $color-white;
        }

        &:active {
            transform: scale(0.99);
        }

        p {
            padding-left: 1.5625rem;
        }

        svg {
            width: 1.25rem;
            fill: $color-white;
        }
    }

    &__tabs {
        display: flex;
        align-items: center;
        height: 2.75rem;
        margin: 1.5rem 0;
    }

    &__tab {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        padding: 0.625rem;
        border-bottom: 1px solid $color-darkgray;
        cursor: pointer;

        p {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 400;
            color: $color-text-secondary;
        }

        span {
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E30808;
            border-radius: 50%;
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.125rem;
            color: $color-white;
        }

        &.active {
            border-bottom: 2px solid var(--color-text-main);

            p {
                font-weight: 600;
                color: var(--color-text-main);
            }
        }
    }

    &__search {
        width: 100%;
        height: 3rem;
        position: relative;
        padding: 1px 0;
        margin-bottom: 0.625rem;

        input {
            width: 100%;
            height: 100%;
            border: 1px solid var(--dropdown-border-color);
            padding: 0.75rem;
            border-radius: 4px;
            background-color: var(--message-modal-search-bg);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            color: var(--color-text-main);
            outline: none;

            &::placeholder {
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                color: $color-text-secondary;
            }
        }

        svg {
            position: absolute;
            top: 0.75rem;
            right: 1rem;
            width: 1.5rem;
            fill: $color-text-secondary;
        }
    }

    &__channels {
        width: 100%;
        height: 23.125rem;
        overflow-y: auto;
        margin-bottom: 2rem;

        &.hidden {
            display: none;
        }
    }

    &__channel {
        margin-top: 0.75rem;
    }

    &__channel-heading {
        height: 2.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.75rem;
            color: var(--color-text-main);
        }

        svg {
            transform: rotate(180deg);
            width: 1.5rem;
            fill: $color-backdrop;
            stroke: $color-backdrop;
            position: relative;
            left: 0.5rem;
            cursor: pointer;
        }
    }

    &__channel-input {
        display: none;
    }

    &__list {
        list-style: none;
        padding: 0;
        overflow: hidden;
        height: 0;
        transition: all .4s ease-out;
    }

    &__list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;

        &.active {
            background-color: var(--message-modal-active-dialog-bg);

            .modal-sidebar__person-name {
                color: var(--message-modal-active-dialog-text)
            }

            .modal-sidebar__person-message {
                color: $color-text-secondary;
            }
        }
    }

    &__person {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }

        &.avatar-icon {
            background-color: #F0FFEE;

            img {
                width: 1.5rem;
            }
        }
    }

    &__person-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 8.75rem;
    }

    &__person-name {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: var(--color-text-main);
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    &__circle {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #E30808;
        display: block;
    }

    &__person-message {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: var(--color-text-sidebar);
        width: 8.125rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__date {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.125rem;
        color: var(--color-text-sidebar);
    }

    &__channel-input:checked+&__channel-heading svg {
        transform: rotate(0deg);
        left: 0;
    }

    &__channel-input:checked~.modal-sidebar__list {
        transition: all .4s ease-out;
        height: max-content;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        cursor: pointer;
        padding: 0.23rem 0;

        svg {
            width: 1.5rem;
            fill: var(--color-text-main);
        }
    }

    &__controls-text {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.875rem;
        color: var(--color-text-main);
    }
}

.modal-message {
    width: 70%;
    height: 100%;

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    &__heading {
        height: 4.875rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem;
        border-bottom: 1px solid $color-lightgray;
        position: relative;
    }

    &__person {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        @media screen and (max-width: 800px) {
            margin-left: 1.875rem;
        }
    }

    &__avatar {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;

        img {
            width: 100%;
        }
    }

    &__username {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.75rem;
        color: var(--color-text-main);
    }

    &__status {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: var(--color-text-main);
        display: flex;
        align-items: baseline;
        gap: 0.25rem;
    }

    &__circle {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;

        &.online {
            background-color: $color-green;
        }

        &.offline {
            background-color: #E30808;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 1.125rem;

        svg {
            width: 1.5rem;
            fill: var(--color-text-main);
            cursor: pointer;

            &:hover {
                fill: $color-lightgray;
            }
        }
    }

    &__content {
        width: 100%;
        height: calc(100% - 5rem);
        background-image: url('../img/doodle-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__messages {
        width: 100%;
        height: 100%;
        padding: 1.6875rem 1.25rem;
        overflow-y: auto;
    }

    &__separator {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    &__separator-line {
        width: 100%;
        height: 0.5px;
        background-color: var(--message-modal-separator-color);
    }

    &__separator-text {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.125rem;
        color: var(--color-text-main);
    }

    &__text-zone {
        width: 100%;
        height: 8.125rem;
        padding-left: 1.25rem;
        padding-right: 1.5625rem;
        padding-top: 1.25rem;
        position: relative;

        textarea {
            width: 100%;
            height: 100%;
            border: 0.5px solid var(--dropdown-border-color);
            border-radius: 4px;
            padding: 1rem;
            background-color: var(--message-modal-textarea-bg-color);
            color: $color-text-secondary;
            outline: none;
            resize: none;
        }
    }

    &__input-icons {
        position: absolute;
        bottom: 1rem;
        right: 2.5625rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        @media screen and (max-width: 800px) {
            bottom: 0;
        }
    }

    &__icon-container {
        width: 1.75rem;
        height: 1.75rem;
        cursor: pointer;
    }

    &__btn {
        width: 9rem;
        height: 2.75rem;
        padding: 0px 0.75rem;
        background-color: transparent;
        border-radius: 0.5rem;
        border: 1px solid $color-blue;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        font-size:
        1rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: $color-blue;
        overflow: hidden; 
        position: relative;
        z-index: 10;
        transition: color 0.3s ease-in-out, transition 0.3s ease-in;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; 
            height: 100%; 
            background-color: $color-blue-secondary;
            z-index: -1;
            transform: translateX(-110%);
            transition: transform 0.3s ease-in-out; 
        }

        &:hover::before {
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            -webkit-text-fill-color: $color-white;
        }

        &:active{
            transform: scale(0.99);
        }

        img {
            width: 1rem;
        }
    }
}

.incoming-message {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 0.75rem;
    margin-bottom: 1rem;

    &__container {
        width: 65%;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__user-data {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__avatar {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__username {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        color: var(--color-text-main);
    }

    &__time {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: var(--agent-call-modal-input-text-color);
    }

    &__message {
        margin-left: 2.25rem;
        border-radius: 0px 0.75rem 0.75rem 0.75rem;
        background-color: $color-blue;
        padding: 0.75rem;
    }

    &__text {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: $color-white;
    }
}

.send-message {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 2.75rem;
    margin-bottom: 40.5rem;

    &__container {
        width: 65%;
        display: flex;
        flex-direction: column;
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__time {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: var(--agent-call-modal-input-text-color);
    }

    &__username {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        color: var(--color-text-main);
    }

    &__message {
        border-radius: 0.75rem 0px 0.75rem 0.75rem;
        background-color: var(--message-modal-send-message-color);
        padding: 0.75rem;
    }

    &__text {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: var(--color-text-main);
    }
}
