.vertical-sidebar {
    width: 100vw;
    height: 6rem;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: var(--modal-sidebar-bg);
    box-shadow: $box-shadow;
    position: relative;
    z-index: 50;

    &.active {
        display: flex;

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    &--left {
        width: 50%;
        display: flex;
        align-items: center;
        gap: 2.5rem;

        @media screen and (max-width: 1000px) {
            gap: 1.25rem;
        }
    }

    &__logo {
        width: 4.125rem;
        min-width: 4.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__tools-list {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 1.25rem;
        margin: 0;
    }

    &__icon-container {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__tool-item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        cursor: pointer;

        @media screen and (max-width: 1000px) {
            gap: 0.875rem;
        }

        svg {
            height: 100%;
            fill: var(--color-text-sidebar);
            stroke: var(--color-text-sidebar);
        }

        p {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5rem;
            color: var(--color-text-sidebar);
            white-space: nowrap;

            @media screen and (max-width: 1000px) {
                font-size: 0.875rem;
            }

            &:hover {
                color: $color-blue-secondary;
            }
        }
    }

    &--right {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 45%;
        position: relative;
        z-index: 100;
        gap: 1.25rem;
    }

    &__controls {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__key {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: var(--color-text-sidebar);
        white-space: nowrap;

        @media screen and (max-width: 1000px) {
            font-size: 0.875rem;
        }
    }

    &__help {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: var(--color-text-sidebar);
        }
    }

    &__menu-icon {
        cursor: pointer;
        width: 1.3rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: var(--color-text-sidebar);
            transform: rotate(90deg) translateX(-4px);
        }
    }

    &__user {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        gap: 1rem;
    }

    &__avatar {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }
    }
}
