.dropdown{
    width: 15.0625rem;
    height: 20.5rem;
    min-height: 330px;
    max-height: 370px;
    background-color: var(--color-main);
    border-radius: 8px;
    padding: 0.75rem;
    box-shadow: $box-shadow;
    position: fixed;
    bottom: 0;
    left: 0px;
    transform: translate(-25rem, -2.81rem);
    opacity: 0;
    z-index: 600;
    transition: transform .2s ease-in, opacity .2s ease-in;

    

    &.active{
        transform: translate(97%, -2.81rem);
        opacity: 1;
    }

    &.minimized{
        &.active{
            transform: translate(50%, -2.81rem);
            opacity: 1;
        }
    }
    
    &.vertical{
        left: 100%;
        right: 0;
        opacity: 1;
        top: 67px;
        transform: translate(-16.5625rem, -31.25rem);

        &.active{
            transform: translate(-16.5625rem, 1.9rem);
        }
    }

    &__list{
        height: 100%;
        list-style: none;
        padding: 0;
        background: rgba(var(--color-secondary), 0.12);
        border-radius: 4px;
    }

    &__item{
        display: flex;
        align-items: center;
        padding: 0/625rem 0.9375rem;
        height: 40px;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        background-color: var(--color-secondary);
        border-bottom: 0.4px solid var(--dropdown-border-color) ;
        
        p{
            cursor: pointer;
        }

        &--doubled{
            justify-content: space-between;
        }

        &:last-of-type{
            border: none;
        }
    }

    &__item-value{
        font-size: 0.75rem;
        line-height: 1,125rem;
        font-weight: 400;
        color: $color-text-secondary;
    }
}
