.radio{
    display: none;

    &__field{
        width: 16px;
        height: 16px;
        min-width: 16px;
        border-radius: 50%;
        border: 1px solid $color-darkgray;
        background-color: rgba(215, 215, 215, 0.4);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__mark{
        width: 17px;    
        height: 17px;
        min-width: 18px;
        background-color: transparent;
        border: 3.5px solid #1C64F2;
        border-radius: 50%;
        display: none;
    }

    &:checked ~ .radio__mark{
        display: block;
    }
}
