.radio{
    display: none;

    &__field{
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        border-radius: 50%;
        border: 1px solid $color-darkgray;
        background-color: rgba(215, 215, 215, 0.4);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__mark{
        width: 1.0625rem;    
        height: 1.0625rem;
        min-width: 1.125rem;
        background-color: transparent;
        border: 3.5px solid #1C64F2;
        border-radius: 50%;
        display: none;
    }

    &:checked ~ .radio__mark{
        display: block;
    }
}
