.select {
    width: 100%;
    height: 2.5rem;
    min-height: 2.5rem;

    &.active {
        overflow-y: visible;
        height: max-content;
    }

    &__btn {
        width: 100%;
        height: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background-color: transparent;
        position: relative;
        border: 1px solid var(--color-text-sidebar);
        background-color: var(--color-secondary);
        position: relative;
        z-index: 2;

        p {
            white-space: nowrap;
            position: relative;
            z-index: 1;
            width: calc(100% - 1.5625rem); 
            overflow: hidden;
            font-size: 0.875rem; 
            font-weight: 400;
            color: var(--color-text-sidebar);
            text-align: left;
        }
    }

    &__icon {
        width: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0.625rem;
        cursor: pointer;
        transition: transform 0.4s ease-in-out;

        &.active {
            svg {
                transform: rotate(180deg);
            }
        }

        svg {
            width: 2rem;
            max-width: 100%;
            object-fit: contain;
            fill: var(--color-text-sidebar);
        }
    }

    &__dropdown {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding: 0;
        border-radius: 0.5rem;
        box-shadow: $box-shadow;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.125rem; 
        margin: 0;
        background-color: var(--select-dropdown-bg);
        position: relative;
        top: -0.125rem; 
        border: none;
        z-index: 5;
        transform: translateY(-1.4375rem); 
        transition: transform 0.3s ease-out;

        &.active {
            padding: 0.75rem;
            transform: translateY(0.125rem); 
            height: max-content;
        }
    }

    &__option {
        width: 100%;
        font-size: 0.875rem;
        padding: 0.625rem; 
        border-radius: 0.5rem;
        color: var(--color-text-sidebar);
        text-align: left;
        cursor: pointer;
        position: relative;
        z-index: 10;

        &:hover {
            background: var(--select-hover-bg);
        }
    }

    &__option-value {
        display: none;
    }

    &.customer-form__select {
        .select__btn {
            background-color: var(--color-input-bg);
            border: none;

            p {
                color: var(--color-text-input);
            }
        }

        .select__icon {
            svg {
                fill: var(--$color-backdrop);
            }
        }
    }

    &.m-select {
        min-height: 3.25rem; 
        height: 3.25rem;

        .select__btn {
            background-color: var(--modal-bg-color);
            border: 1px solid #979D9F;
            min-height: 3.25rem;

            p {
                color: var(--modal-input-color);
            }
        }

        .select__dropdown {
            background-color: var(--modal-sidebar-bg);
        }

        .select__icon {
            svg {
                fill: #979D9F;
            }
        }
    }

    &.call-select {
        width: 100%;
        max-width: 7.8125rem; 

        .select__btn {
            width: 100%;
            border: 1px solid $color-blue-secondary;
            background-color: transparent;

            p {
                color: $color-blue-secondary;
            }
        }

        .select__icon {
            svg {
                fill: $color-blue-secondary;
            }
        }
    }

    &.call-modal {
        width: 10rem; 
        height: 2.5rem; 

        @media screen and (max-width: 500px) {
            width: 100%;
        }

        .select__btn {
            width: 100%;
            border: 1px solid var(--agent-call-modal-input-text-color);
            border-radius: 0.5rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem; 
            background-color: transparent;

            p {
                color: var(--agent-call-modal-input-text-color);
            }
        }

        .select__icon {
            svg {
                fill: var(--agent-call-modal-input-text-color);
            }
        }
    }
}
