.switch-box {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    &__label {
        cursor: pointer;
        text-indent: -9999px;
        width: 2rem;
        height: 1.25rem;
        background: rgba(165, 178, 196, 1);
        display: block;
        border-radius: 100px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 1.125rem;
            height: 1.125rem;
            background: $color-white;
            border-radius: 0.625rem;
            transition: 0.3s;
        }
    }
    
    &__checkbox:checked + .switch-box__label {
        background: var(--switch-background);
    }
    
    &__checkbox:checked + .switch-box__label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }
    
    &__label:active:after {
        width: 1.875rem;
    }
}
