#agentStatusModal{
    height: max-content;

    & > .modal-window__content{
        min-width: 700px;
        width: max-content;
    }

}

.agent-status{

    &__table-section{
        width: 100%;
        min-width: 700px;
        background-color: var(--modal-bg-color);
        border-radius: 12px;
        padding: 16px;
        color: var(--color-text-main);
    }

    &__table{
        width: 750px;
        

        thead{
            height: 40px;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: var(--table-head-text-color);
            border-bottom: 0.5px solid var(--table-head-text-color);

            th{
                font-weight: 400;
                white-space: nowrap;
            }
        }

        tr{
            height: 40px;
            border-bottom: 0.5px solid var(--table-head-border-color);

            td{
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                color: var(--color-text-main);
                white-space: nowrap;
            }
        }
    }

    &__call-actions{
        display: flex;
        align-items: center;
        gap: 16px;
        height: 40px;
    }
}