.call-modal{

    &__controls{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px;
        padding-bottom: 0;

        

        input{
            width: 160px;
            height: 40px;
            padding: 8px 16px;
            border: 1px solid var(--agent-call-modal-input-text-color);
            color: var(--agent-call-modal-input-text-color);
            border-radius: 8px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            background-color: transparent;

            @media screen and (max-width: 500px) {
                width: 100%;
            }
        }
        
        &--left{
            display: flex;
            align-items: center;
            gap: 24px;

            @media screen and (max-width: 500px) {
                width: 100%;
            }
        }

        @media screen and (max-width: 720px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__search{
        width: 290px;
        max-width: 50%;
        height: 40px;
        position: relative;

        @media screen and (max-width: 720px) {
            width: 100%;
            max-width: 100%;
        }

        input{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            outline: none;

            &::placeholder{
                color: var(--agent-call-modal-input-text-color);
            }
        }

        svg{
            position: absolute;
            left: 19px;
            top: 10px;
            width: 20px;
            stroke: var(--agent-call-modal-input-text-color)
        }
    }

    &__table-section{
        width: 100%;
        background-color: var(--modal-bg-color);
        border-radius: 12px;
        padding: 16px;
        color: var(--color-text-main);
    }

    &__table{
        width: 100%;
        min-width: 900px;

        thead{
            height: 40px;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: var(--table-head-text-color);
            border-bottom: 0.5px solid var(--table-head-text-color);

            th{
                font-weight: 400;
            }
        }

        tr{
            height: 40px;
            border-bottom: 0.5px solid var(--table-head-border-color);

            td{
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                color: var(--color-text-main);

            }
        }
    }

    &__date{
        display: flex;
        align-items: center;
        gap: 8px;

        span{
            display: block;
            color: #B8B8B8;
        }
    }

    &__icons{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}