.call-control-btn{
    width: 95px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    border: none;
    border-radius: 8px;
    color: $color-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: inherit;


    svg{
        width: 18px;
        fill: $color-white;
    }

    &:disabled{
        background: var(--call-btn-bg) ;
        color: #B8B8B8;

        svg{
            fill: #B8B8B8;
        }
    }
}

.active-btn{
    background: $gradient-main;
}

.pause-btn{
    background: $color-orange;
}


.transparent-blue-btn{
    width: 156px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border: 1px solid $color-blue-secondary;
    background-image: $gradient-main;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 8px;
}

.blue-btn{
    background: $gradient-main;
    height: 44px;
    border-radius: 8px;
    border: none;
    color: $color-white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    &:disabled{
        background: #D5D5D5;
    }
}