.call-controls{
    width: 100%;
    max-height: 145px;
    margin-bottom: 20px; 
    padding-left: 12px;
    padding-right: 20px;
    border-radius: 8px;

    &.extended {
        background-color: var(--call-controls-bg-color);
    }
    
    &--top{
        display: flex;
        align-items: center;
        justify-content: space-between; 
        gap: 20px;
        padding-bottom: 16px;
        padding-top: 16px;
    }


    &__buttons{
        display: flex;
        align-items: center;
        height: 40px;
        width: 200px;
        background-color: var(--call-btn-bg) ;
        padding: 5px;
        border-radius: 6px;
    }

    .dial-btn{
        width: 156px;
    }

    &__data{
        width: 135px;
        height: 49px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__status{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        &.paused{
            color: #E30808;
        }

    }

    &__file-name{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $color-text-secondary;
    }

    &__loading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 21px;

        span{
            display: block;
            width: 2px;
            height: 12.6px;
            background-color: #FFDECE;
            border-radius: 10px;

            &:first-of-type{
                background-color: $color-orange;
                height: 100%;
            }
        }

        &.calling {

            span{
                background-color: #80C1F1;

                &:first-of-type{
                    background-color: #1CA9F9;
                }
            }


        }
    }

    &__progress{
        width: calc(100% - 200px - 240px - 200px );
        height: 49px;

        &.long{
            width: calc(100% - 200px - 135px - 200px );
        }
    }

    &__time-block{
        display: flex;
        flex-direction: column;
    }

    &__time{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        &.calling{
            color: $color-blue;
        } 

        &.paused{
            color: $color-orange;
        }     
    }

    &__time-status{
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: $color-text-secondary;
    }

    &__scale-btn{
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;


        svg{
            width: 24px;
            fill: $color-text-secondary;
        }
    }

    &__checkbox{
        display: none;
    }

    &--bottom{
        width: 100%;
        display: none;
        border-top: 0.4px solid  var(--table-head-border-color);
        align-items: center;
        justify-content: space-between; 
        gap: 20px;
        padding: 16px 0;

        &.active{
            display: flex;
        }
    }

    &__call-info{
        display: flex;
        align-items: center;
        gap: 12px;

        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: var(--table-head-text-color);
        }

        .call-number{
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $color-blue;
        }
    }

    

    &__controls{
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__info-row{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__calls-data-row{
        display: flex;
        align-items: center;
        gap: 12px;

        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: var(--table-head-text-color);
        }

    }

    &__ammount{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: #D0E8DD;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: $color-green;
    }

    &__control-buttons{
        display: flex;
        align-items: center;
        gap: 16px;

        button{
            width: 92px;
        }

        select{
            max-width: 125px;
            background-color: transparent;
            color: $color-blue-secondary;
            border: 1px solid $color-blue-secondary;
        }
    }
}