
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


body{
    font-family: open_sans, sans-serif;
    font-weight: 400;
    color: $color-text-main;
    background: $color-main;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: $color-main;
    position: relative;
}