
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--color-text-main);
    background: var(--color-main);
    max-height: 100vh;
    overflow: hidden;
}


.wrapper{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background: var(--color-main);
    position: relative;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-red{
    color: $color-red;
}

.backdrop{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: $color-backdrop;
    opacity: 0.6;
    z-index: 110;

    &.active{
        width: 100vw;
        height: 100vh;
    }
}

.modal-window{
    position: absolute;
    width: 936px;
    overflow: auto;
    height: fit-content;
    max-height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
    background-color: var(--color-main);
    border-radius: 12px;
    z-index: 999;
    transition: transform .4s ease-in-out;


    &.active{
        transform: translate(-50%, -50%);
    }

    &.group.active{
        max-width: 645px;
        min-height: 550px;
    }

    &.table-width.active{
        width: 1100px;
    }

    &.error.active{
        width: 550px;
    }
    &.message-modal.active{
        width: 1108px;
        max-width: 95vw;
        height: 825px;
        max-height: 95vh;
    }


    @media screen and (max-width: 1000px) {
        width: 80%;
        height: 95vh;

        top: 10px;
        transform: translate(-50%, 0%);
        overflow-y: scroll;
    }
}