.sidebar{
    width: 260px;
    min-width: 260px;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
    background-color: var(--color-secondary) ;
    transition: all .4s ease-in;

    &.hidden{
        display: none;

        @media screen and (max-width: 900px) {
            display: flex;
        }
    }


    @media screen and (max-width: 900px) {
        display: flex;
        position: absolute;
        width: 320px;
        height: 100vh;
        transform: translateX(-320px);
        z-index: 20;


        &.active{
            transform: translateX(0);
        }
    }

    &--top{
        width: 100%;
    }

    &--bottom{
        width: 100%;
    }

    &__logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        margin-bottom: 35px;

        img{
            height: 100%;
        }
    }

    &__select{
        margin-bottom: 20px;
        
        select{
            background: var(--color-secondary);
            color: var(--color-text-sidebar);
            // border: var(--color-text-sidebar);
        }

        h5{
            margin-bottom: 10px;
        }
    }

    &__title{
        font-size: 14px;
        font-weight: 400;
        color: $color-text-secondary;
    }

    &__tools-list{
        margin-top: 20px;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__icon-container{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__tool-item{
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;

        svg{
            height: 100%;
            fill: var(--color-text-sidebar);
            stroke: var(--color-text-sidebar);
        }

        p{
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: var(--color-text-sidebar);
        }
    }

    &--bottom{
        width: 100%;
        padding-right: 25px;
        position: relative;
        z-index: 100;
    }

    &__controls{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;
        z-index: -1;

    }

    &__key{
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: var(--color-text-sidebar);
    }

    &__value{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

    }

    &__help{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 45px;
        margin-bottom: 20px;

        svg{
            width: 20px;
            height: 20px;
            fill: var(--color-text-sidebar);
        }
    }

    &__menu-icon{
        cursor: pointer;
        width: 18px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            fill: var(--color-text-sidebar);
        }
    }

    &__user{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        
    }

    &__avatar{
        display: flex;
        align-items: center;
        gap: 12px;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}  
