.switch-box {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    &__label {
        cursor: pointer;
        text-indent: -9999px;
        width: 32px;
        height: 20px;
        background: rgba(165, 178, 196, 1);
        display: block;
        border-radius: 100px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 18px;
            height: 18px;
            background: $color-main;
            border-radius: 10px;
            transition: 0.3s;
        }
    }
    
    &__checkbox:checked + .switch-box__label {
        background: #2E9F28;
    }
    
    &__checkbox:checked + .switch-box__label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }
    
    &__label:active:after {
        width: 30px;
    }
}