// COLORS
$color-white: #ffffff; 
$color-orange: #F26822;
$color-red: #FF3535;
$color-blue: #5590F5; 
$color-blue-secondary: #44BFFF;  
$color-green: #00AE5B;  
$color-text-secondary: #7A7A7A;
$color-backdrop: #3D3D3D;
$color-lightgray: #D7D7D7;
$color-darkgray: #B8B8B8;

$color-input-bg: #F2F2F2;

$gradient-main: linear-gradient(to right, #5590F5, #44BFFF);
$gradient-reversed: linear-gradient(to right, #44BFFF ,#5590F5 );

$box-shadow: 0px 10px 30px 0px rgba(29,73,113, 0.1);


:root{
    //Light theme
    --color-main-light: #ffffff;
    --color-secondary-light: rgb(215, 215, 215);
    --color-ternary-light: var(--color-main);
    --color-input-bg-light: #F2F2F2;
    --color-text-main-light: #000000;
    --color-text-input-light: #687175;
    --color-text-sidebar-light: #3D3D3D;
    --dropdown-border-color-light: #D7D7D7;
    --scripts-bg-color-light: rgba(32, 32, 32, 0.18);
    --content-border-color-light: #9B9B9B;
    --call-btn-bg-light: rgba(215, 215, 215, 0.36);
    --record-btn-color-light: #F1F1F1;
    --modal-bg-color-light: rgba(215, 215, 215, 0.12) ;
    --dial-numbers-color-light: rgba(215, 215, 215, 0.5); 
    --modal-input-color-light: #687175;
    --switch-background-light: #00AE5B;
    --button-border-color-light: #6969C2;
    --transfer-modal-input-color-light: #3D3D3D;
    --transfer-modal-input-border-light: #3D3D3D;
    --agent-call-modal-input-text-color-light: #7A7A7A; 
    --table-head-text-color-light: #3d3d3d;
    --table-head-border-color-light: #B8B8B8;
    --error-modal-text-color-light: #3F3D56;
    --message-modal-search-bg-light: #F9F9F9;
    --message-modal-active-dialog-bg-light: #F5F5F5;
    --message-modal-active-dialog-text-light: #7A7A7A;
    --message-modal-separator-color-light: #B8B8B8;
    --message-modal-send-message-color-light: #E8E8E8;
    --message-modal-textarea-bg-color-light: #FFFFFF;
    


    --call-channels-error-modal-img-light: url('../img/asset_empty.png');
    --connection-error-modal-img-light: url('../img/no-connection.png');
    --latency-modal-img-light: url('../img/diagram-white.png');

    --skills-refresh-gradient-light: linear-gradient(to right, rgba(105, 105, 194, 1), rgba(147, 147, 236, 1));


    //Dark theme
    --color-main-dark: #000000;
    --color-secondary-dark: #0C161E;
    --color-ternary-dark: #243546;
    --color-input-bg-dark: #0A1D32;
    --color-text-main-dark: #ffffff;
    --color-text-input-dark: #7A7A7A;
    --color-text-sidebar-dark: #B8B8B8;
    --dropdown-border-color-dark: #7A7A7A;
    --scripts-bg-color-dark: rgba(255, 255, 255, 0.2) ;
    --content-border-color-dark: #000000;
    --call-btn-bg-dark: rgba(61, 61, 61, 1);
    --record-btn-color-dark: #0A1D32;
    --modal-bg-color-dark: #0A1D32;
    --dial-numbers-color-dark: #0C161E;
    --modal-input-color-dark: #B8B8B8;
    --switch-background-dark: linear-gradient(to right, #5590F5, #44BFFF);
    --button-border-color-dark: #44BFFF;
    --transfer-modal-input-color-dark: #ffffff;
    --transfer-modal-input-border-dark: transparent;
    --agent-call-modal-input-text-color-dark: #B8B8B8;
    --table-head-text-color-dark: #D7D7D7;
    --table-head-border-color-dark: #3D3D3D;
    --error-modal-text-color-dark: #D7D7D7;
    --error-modal-border-color-dark: #EFEFEF;
    --message-modal-search-bg-dark: #171717;
    --message-modal-active-dialog-bg-dark: rgba(215, 215, 215, 0.12);
    --message-modal-active-dialog-text-dark: #D7D7D7;
    --message-modal-separator-color-dark: #7A7A7A;
    --message-modal-send-message-color-dark: #3D3D3D;
    --message-modal-textarea-bg-color-dark: #171717;



    --call-channels-error-modal-img-dark: url('../img/asset_empty_dark.png');
    --connection-error-modal-img-dark: url('../img/no-connection-dark.png');
    --latency-modal-img-dark: url('../img/diagram.png');

    --skills-refresh-gradient-dark: linear-gradient(to right, #5590F5, #44BFFF);

}


body{
    

    &.light{
        --color-main: var(--color-main-light);
        --color-secondary: var(--color-main);
        --color-ternary: var(--color-main);
        --color-input-bg: var(--color-input-bg-light);
        --color-text-main: var(--color-text-main-light);
        --color-text-input: var(--color-text-input-light);
        --color-text-sidebar: var(--color-text-sidebar-light);
        --dropdown-border-color: var(--dropdown-border-color-light);
        --scripts-bg-color: var(--scripts-bg-color-light);
        --content-border-color: var(--content-border-color-light);
        --skills-refresh-gradient: var(--skills-refresh-gradient-light);
        --call-btn-bg: var(--call-btn-bg-light);
        --record-btn-color: var(--record-btn-color-light);
        --modal-bg-color: var(--modal-bg-color-light);
        --dial-numbers-color: var(--dial-numbers-color-light);
        --modal-input-color: var(--modal-input-color-light);
        --switch-background: var(--switch-background-light);
        --button-border-color: var(--button-border-color-light);
        --transfer-modal-input-color: var(--transfer-modal-input-color-light);
        --transfer-modal-input-border: var(--transfer-modal-input-border-light);
        --agent-call-modal-input-text-color: var(--agent-call-modal-input-text-color-light);
        --table-head-text-color: var(--table-head-text-color-light);
        --table-head-border-color: var(--table-head-border-color-light);
        --error-modal-text-color: var(--error-modal-text-color-light);
        --error-modal-border-color: var(--error-modal-border-color-light);
        --message-modal-search-bg: var(--message-modal-search-bg-light);
        --message-modal-active-dialog-bg: var(--message-modal-active-dialog-bg-light);
        --message-modal-active-dialog-text: var(--message-modal-active-dialog-text-light);
        --message-modal-separator-color: var(--message-modal-separator-color-light);
        --message-modal-send-message-color: var(--message-modal-send-message-color-light);
        --message-modal-textarea-bg-color: var(--message-modal-textarea-bg-color-light);
        
        
        
        
        
        --call-channels-error-modal-img: var(--call-channels-error-modal-img-light);
        --connection-error-modal-img: var(--connection-error-modal-img-light);
        --latency-modal-img: var(--latency-modal-img-light);
        

        background-color: var(--color-main);
    }
    
    &.dark{
        --color-main: var(--color-main-dark);
        --color-secondary: var(--color-secondary-dark);
        --color-ternary: var(--color-ternary-dark);
        --color-input-bg: var(--color-input-bg-dark);
        --color-text-main: var(--color-text-main-dark);
        --color-text-input: var(--color-text-input-dark);
        --color-text-sidebar: var(--color-text-sidebar-dark);
        --dropdown-border-color: var(--dropdown-border-color-dark);
        --scripts-bg-color: var(--scripts-bg-color-dark);
        --content-border-color: var(--content-border-color-dark);
        --skills-refresh-gradient: var(--skills-refresh-gradient-dark);
        --call-btn-bg: var(--call-btn-bg-dark);
        --record-btn-color: var(--record-btn-color-dark);
        --modal-bg-color: var(--modal-bg-color-dark);
        --dial-numbers-color: var(--dial-numbers-color-dark);
        --modal-input-color: var(--modal-input-color-dark);
        --switch-background: var(--switch-background-dark);
        --button-border-color: var(--button-border-color-dark);
        --transfer-modal-input-color: var(--transfer-modal-input-color-dark);
        --transfer-modal-input-border: var(--transfer-modal-input-border-dark);
        --agent-call-modal-input-text-color: var(--agent-call-modal-input-text-color-dark);
        --table-head-text-color: var(--table-head-text-color-dark);
        --table-head-border-color: var(--table-head-border-color-dark);
        --error-modal-text-color: var(--error-modal-text-color-dark);
        --error-modal-border-color: var(--error-modal-border-color-dark);
        --message-modal-search-bg: var(--message-modal-search-bg-dark);
        --message-modal-active-dialog-bg: var(--message-modal-active-dialog-bg-dark);
        --message-modal-active-dialog-text: var(--message-modal-active-dialog-text-dark);
        --message-modal-separator-color: var(--message-modal-separator-color-dark);
        --message-modal-send-message-color: var(--message-modal-send-message-color-dark);
        --message-modal-textarea-bg-color: var(--message-modal-textarea-bg-color-dark);
        
        
        
        
        --call-channels-error-modal-img: var(--call-channels-error-modal-img-dark);
        --connection-error-modal-img: var(--connection-error-modal-img-dark);
        --latency-modal-img: var(--latency-modal-img-dark);

        background-color: var(--color-secondary);
    }
}