// COLORS

$color-main: #ffffff; 
$color-secondary: #D7D7D7;
$color-orange: #F26822;
$color-red: #FF3535;
$color-green: #00AE5B; 
$color-blue: #5590F5; 
$color-blue-secondary: #44BFFF;  

$color-text-main: #000000;
$color-text-secondary: #7A7A7A;
$color-text-third: #3D3D3D;
$color-text-input: #687175;


$color-input-bg: #F2F2F2;

$gradient-main: linear-gradient(to right, #5590F5, #44BFFF);


$box-shadow: 0px 10px 30px 0px rgba(29,73,113,1);
