@font-face {
    font-family: open_sans;
        src: url(../fonts/OpenSans-Regular.woff2);
        font-weight: 400;
    }

@font-face {
    font-family: open_sans;
        src: url(../fonts/OpenSans-SemiBold.woff2);
        font-weight: 600;
    }

@font-face {
    font-family: open_sans;
        src: url(../fonts/OpenSans-Bold.woff2);
        font-weight: 700;
    }



